.error {
  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: 1fr 2fr;
  margin-top: 5%;
  font-size: 25px;
}

.img404 {
  grid-area: img;
  width: 100%;
  padding: 10px;
}

.textError {
  padding: 0 20px 0 10px;
}