.nav {
  grid-area: navbar;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.nav img {
  width: 30px;
  float: left;
}

.friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 5px;
  font-size: 20px;
  text-align: center;
}

.friends_title {
  font-size: 20px;
  text-align: center;
  text-decoration: underline 2px;
}

.friends img {
  width: 50px;
}

#menuVertical {
  width: 100%;
  height: auto;
}

#menuVertical ul {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}

#menuVertical ul li {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

#menuVertical ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 30px;
  color: black;
  line-height: 1.2em;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

#menuVertical ul li:first-child a {
  border: none;
}

#menuVertical ul li a:hover,
#menuVertical ul li:hover a {
  background: rgb(201, 201, 201);
  background: -moz-linear-gradient(
    top,
    rgba(201, 201, 201, 1) 0%,
    rgba(246, 246, 246, 1) 2%,
    rgba(196, 197, 199, 1) 98%,
    rgba(117, 117, 119, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(201, 201, 201, 1) 0%,
    rgba(246, 246, 246, 1) 2%,
    rgba(196, 197, 199, 1) 98%,
    rgba(117, 117, 119, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(201, 201, 201, 1) 0%,
    rgba(246, 246, 246, 1) 2%,
    rgba(196, 197, 199, 1) 98%,
    rgba(117, 117, 119, 1) 100%
  );
}

#menuVertical ul li ul {
  position: absolute;
  top: 0px;
  left: 100%;
  display: none;
  width: auto;
}

#menuVertical ul li:hover ul {
  display: block;
}

#menuVertical ul li ul li a {
  white-space: nowrap;
  text-transform: none;
  padding: 5px 20px;
}

#menuVertical ul li ul li a:hover {
  background: rgb(224, 225, 229);
  background: -moz-linear-gradient(
    top,
    rgba(224, 225, 229, 1) 0%,
    rgba(69, 69, 71, 1) 2%,
    rgba(69, 69, 71, 1) 98%,
    rgba(224, 225, 229, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(224, 225, 229, 1) 0%,
    rgba(69, 69, 71, 1) 2%,
    rgba(69, 69, 71, 1) 98%,
    rgba(224, 225, 229, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(224, 225, 229, 1) 0%,
    rgba(69, 69, 71, 1) 2%,
    rgba(69, 69, 71, 1) 98%,
    rgba(224, 225, 229, 1) 100%
  );
}
