.content {
  grid-area: content;
}

.dataFile {
  display: grid;
  grid-template-areas:
    "left center right";
  grid-template-columns: 1fr 3fr 2fr;
}

.left {
  grid-area: left;
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
}

.post {
  margin: 2% 3%;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  background: rgb(224, 203, 203);
  border-radius: 5px;
  border: 1px solid rgb(221, 207, 207);
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .15);
}

.post:hover {
  border: 1px solid rgb(190, 171, 171);
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, .25);
}

.profileFoto {
  width: 270px;
  padding-left: 30px;
  padding-top: 30px;
}

.baner {
  border-radius: 5px;
  width: 100%;
}

.btnBaner {
  position: absolute;
  transform: translate(200%, -100%);
  background-color: #8DBFE4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.customFileUpload {
  padding: 6px 6px;
  color: white;
  background: #8DBFE4;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.customFileUpload:hover, .btnBaner:hover {
  color: black;
  background: white;
}

.formSummaryError {
  border-bottom: red 1px solid;
  color: red;
}

input[type="file"] {
  display: none;
}
